         .wrapper{
            display:grid;
            /*grid-template-columns: 4fr 1fr;*/
            grid-gap:1em;
            /*grid-auto-rows:minmax(100px, auto);*/
         }

         .textbox_group{
            display:grid;
            grid-template-columns: 1fr 1 fr;
            padding:1em;
            grid-gap:5px;

/*         .chk{
            padding-right:0em;
         }
*/
         .custom_service{
            display:grid;
            grid-template-columns: 1fr 1 fr;
            padding:1em;
            grid-gap:5px;

         }

        }
         div {
            padding: 5px;
         }


        section{
            background:#eee;
            padding:1em;
         }
  /*        .sex{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap:1em;
         }
*/